{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <section class="containerSectionAdmin">
            {% include('/administration/navAdministration.html.twig') %}
            <div class="containerAdmin">
                <div class="adminTabProfil">
                    <h3>Modifier le mot de passe</h3>
                    <div class="containerModifyPassProfil">
                        {% for message in app.flashes('success') %}
                            <div class="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {{ form_start(formModifyPass) }}
                            <div class="formGroupLogin">
                                <label for="precedentPassword" class="labelForm" >Mot de passe actuel</label><br />
                                {{ form_widget(formModifyPass.precedentPassword) }}
                                {{ form_errors(formModifyPass.precedentPassword) }}
                            </div>
                            <div class="formGroupLogin">
                                <label for="newPassword" class="labelForm">Nouveau mot de passe</label><br />
                                {{ form_widget(formModifyPass.newPassword) }}
                                {{ form_errors(formModifyPass.newPassword) }}
                            </div>
                            <div class="formGroupLogin">
                                <label for="confirmPassword" class="labelForm">Confirmer votre nouveau mot de passe</label><br />
                                {{ form_widget(formModifyPass.confirmPassword) }}
                                {{ form_errors(formModifyPass.confirmPassword) }}
                            </div>
                            <div class="formGroupLogin">
                                <button type="submit" class="btnValidate">Modifier</button>
                            </div>
                            <input type="hidden" id="modifyPasswordToken" name="modifyPassword[_token]" value="????????????" />
                        {{ form_end(formModifyPass) }}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}