{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
       <section class="containerSectionAdmin">
            {% include('/administration/navAdministration.html.twig') %}
            <div class="containerAdmin">
                <div class="adminTabProfil">
                    {% if modify is defined %}
                        <h3>Modifier un outil</h3>
                    {% else %}
                        <h3>Ajouter un outil</h3>
                    {% endif %}
                    {% for message in app.flashes('message') %}
                        <div class="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {{ form_start(formCreateEnvironment) }}
                        <div class="formGroupLogin">
                            <label for="title" class="labelForm">Titre</label><br />
                            {{ form_widget(formCreateEnvironment.environmentName) }}
                            {{ form_errors(formCreateEnvironment.environmentName) }}
                        </div>
                        <div class="formGroupLogin">
                            <label for="uploadMainImage" class="labelForm">Image principale</label><br />
                            <div class="btnValidate btnUpload">Upload
                                {{ form_widget(formCreateEnvironment.imageEnvironment) }}
                                {{ form_errors(formCreateEnvironment.imageEnvironment) }}
                            </div><br />
                            <p>**Attention à bien sélectionner une image au format png (48X48)</p>
                        </div>
                        {% if modify is defined %}
                            <div class="formGroupLogin">
                                <button type="submit" name="validateTrick" class="btnValidate btnNewFigure mt-4 mb-3">Modifier</button>
                            </div>
                        {% else %}
                            <div class="formGroupLogin">
                                <button type="submit" name="validateTrick" class="btnValidate btnNewFigure mt-4 mb-3">Créer</button>
                            </div>
                        {% endif %}
                    {{ form_end(formCreateEnvironment) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}