{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <section class="containerLogin">    
            <h2>Mot de passe oublié</h2>
            {% for message in app.flashes('success') %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(forgotPasswordType) }}   
                <div class="formGroupLogin">
                    <label for="forgotPassword">Nom d'utilisateur</label><br />
                    {{ form_widget(forgotPasswordType.username) }}
                </div>
                <div class="formGroupLogin">
                    <button type="submit" class="btnValidate">Réinitialiser</button>
                </div>
                <input type="hidden" id="passwordForgotToken" name="_csrf_token" value="{{ csrf_token('forgotPassToken') }}" />
            {{ form_end(forgotPasswordType) }}
        </section>
    </main>
{% endblock %}