{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <section class="containerLogin">    
            <h2>Nouveau mot de passe</h2>
            {% for message in app.flashes('success') %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(newPasswordType) }}
                <div class="formGroupLogin">
                    <label for="newPasswordUsername">Nom d'utilisateur</label><br />
                    {{ form_widget(newPasswordType.username) }}
                    {{ form_errors(newPasswordType.username) }}
                </div>  
                <div class="formGroupLogin">
                    <label for="newPassword">Nouveau mot de passe</label><br />
                    {{ form_widget(newPasswordType.password) }}
                    {{ form_errors(newPasswordType.password) }}
                </div>
                <div class="formGroupLogin">
                    <label for="newPasswordConfirm">Confirmer votre nouveau mot de passe</label><br />
                    {{ form_widget(newPasswordType.passwordConfirm) }}
                    {{ form_errors(newPasswordType.passwordConfirm) }}
                </div>
                <div class="formGroupLogin">
                    <button type="submit" class="btnValidate">Modifier</button>
                </div>
                <input type="hidden" id="newPasswordToken" name="newPassword[_token]" value="{{ csrf_token('newPassword') }}" />
            {{ form_end(newPasswordType) }}       
          </section>
    </main>
{% endblock %}