{% extends 'base.html.twig' %}

{% block title %}CV Guillaume Vignères - Administration{% endblock %}

{% block body %}
    <main>
        <section class="containerSectionAdmin">
            {% include('/administration/navAdministration.html.twig') %}
            <div class="containerAdmin">
                
                <div class="adminTab">
                <h3>Emplois<a href="{{ path('addJob')}}"><img src="{{ asset('img/icons8-plus-50.png') }}"></a></h3>
                
                    <table>
                        <thead>
                            <tr>
                                <th class="column1">Intitulé</th>
                                <th class="column2">Début</th>
                                <th class="column3">Fin</th>
                                <th class="column4">Lieu</th>
                                <th class="column5">Employeur</th>
                                <th class="column6">Modifier</th>
                                <th class="column7 columnEnd">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                                <tr>
                                    <td class="column1">{{ job.titleJob }}</td>
                                    <td class="column2">{{ job.dateBeginJob | date('d-m-Y') }}</td>
                                    <td class="column3">{% if job.dateFinishJob == null %} {{ "---" }} {% else %} {{ job.dateFinishJob | date('d-m-Y') }} {% endif %}</td>
                                    <td class="column4">{{ job.placeJob }}</td>
                                    <td class="column5">{{ job.enterpriseJob }}</td>
                                    <td class="column6"><a href="{{ path('modifyJob', {'id': job.id}) }}"><img src="{{ asset('img/crayon.png') }}"></a></td>
                                    <td class="column7 columnEnd"><a href="{{ path('deleteJob', {'id': job.id}) }}?admin=1" class="delete" data-confirm="Êtes vous sûr de vouloir effacer ce projet?"><img src="{{ asset('img/poubelle.png') }}"></a></td>                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>   
                </div>
                <div class="containerAdminMobile">
                <h3>Emplois<a href="{{ path('addJob')}}"><img src="{{ asset('img/icons8-plus-50.png') }}"></a></h3>
                    {% for job in jobs %}
                        <table class="panel">
                            <tr class="trCompte">
                                <td>Intitulé:</td>
                                <td>{{ job.titleJob }}</td>
                            </tr>
                            <tr class="trCompte">
                                <td>Début:</td>
                                <td>{{ job.dateBeginJob | date('d-m-Y') }}</td>
                            </tr>
                            <tr class="trCompte">
                                <td>Fin:</td>
                                <td>{% if job.dateFinishJob == null %} {{ "---" }} {% else %} {{ job.dateFinishJob | date('d-m-Y') }} {% endif %}</td>
                            </tr>
                            <tr class="trCompte">
                                <td>Lieu:</td>
                                <td>{{ job.placeJob }}</td>
                            </tr>
                            <tr class="trCompte">
                                <td>Employeur:</td>
                                <td>{{ job.enterpriseJob }}</td>
                            </tr>
                            <tr class="trCompte">
                                <td>Modifier:</td>
                                <td><a href="{{ path('modifyJob', {'id': job.id }) }}"><img src="{{ asset('img/crayon.png') }}"></a></td>
                            </tr>
                            <tr class="trCompte">
                                <td>Supprimer:</td>
                                <td><a href="{{ path('deleteJob', {'id': job.id }) }}?admin=1" class="delete" data-confirm="Êtes vous sûr de vouloir effacer ce projet?"><img src="{{ asset('img/poubelle.png') }}"></a></td>                                    
                            </tr>
                        </table>
                    {% endfor %}
                </div>
                <div id="pagingAdminUsers" class="paging border-top">
                    {% include('/paging/paging.html.twig') %}
                </div>  
            </div>
        </section>
    </main>
{% endblock %}
