<div class="containerMenuAdmin">            
    <ul class="adminNav">
        <a href="{{ path('app_pageAdmin') }}"><li>Administration</li></a>
        <a href="{{ path('app_pageAdminProfil') }}"><li>Profil</li></a>
        <a href="{{ path('app_pageAdminCapacities') }}"><li>Capacités</li></a>
        <a href="{{ path('app_pageAdminEnvironment') }}"><li>Outils</li></a>
        <a href="{{ path('app_pageAdminLanguages') }}"><li>Langues</li></a>
        <a href="{{ path('app_pageAdminHobbies') }}"><li>Hobbies</li></a>
        <a href="{{ path('app_pageAdminProjects') }}"><li>Réalisations</li></a>
        <a href="{{ path('app_pageAdminJobs') }}"><li>Parcours</li></a>
    </ul> 
</div>
<div class="containerMenuAdminMobile">
    <div class="flexAdminMenuMobile menuMobileAdmin">
        <div class="linkMenuAdminMobile">
            <a class="linkMobile" href="{{ path('app_pageAdmin') }}">Administration</a>
        </div>
        <div class="linkMenuAdminMobile">
            <a class="linkMobile" href="{{ path('app_pageAdminProfil') }}">Profil</a>
        </div>
    </div>
    <div class="flexAdminMenuMobile menuMobileAdmin">    
        <div class="linkMenuAdminMobile">
            <a class="linkMobile" href="{{ path('app_pageAdminCapacities') }}">Capacités</a>
        </div>
        <div class="linkMenuAdminMobile">
            <a class="linkMobile" href="{{ path('app_pageAdminEnvironment') }}">Outils</a>
        </div>
    </div>
    <div class="flexAdminMenuMobile menuMobileAdmin">   
         <div class="linkMenuAdminMobile">
            <a class="linkMobile" href="{{ path('app_pageAdminLanguages') }}">Langues</a>
        </div>
        <div class="linkMenuAdminMobile">
            <a class="linkMobile" href="{{ path('app_pageAdminHobbies') }}">Hobbies</a>
        </div>
    </div>
    <div class="flexAdminMenuMobile menuMobileAdmin">
        <div class="linkMenuAdminMobile">
            <a class="linkMobile" href="{{ path('app_pageAdminProjects') }}">Réalisations</a>
        </div>
        <div class="linkMenuAdminMobile">
            <a class="linkMobile" href="{{ path('app_pageAdminJobs') }}">Parcours</a>
        </div>
    </div>
</div>
